body {background-color: rgb(240, 250, 250);}



.navbar ul{
    list-style-type:none;
   background-color: rgb(59, 57, 57);
   padding: 0px;
   margin: 0px;
   overflow: hidden;}


.navbar a{color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: auto;}


.navbar>ul{
display: flex;
justify-content: center;}

.navbar a:hover{
background-color: red;}

.navbar li{float: left;}

.bahoo{text-align: center;
 margin: 0%;
color: white;
background-color: aliceblue;}

#b{
    text-align: center;
    color: aliceblueS;}


.g{width: 300px;
height: 300px;}


.img{
    padding-left: 200px;
    padding-top: 20px;
border-width: 20px;}

    .div{background-color: red;
        width: 60px;
        height: 30px;
        text-align: center;
        margin-top: 10px;}
    

        .pa{
            text-align: center; }

        .ba{text-align: center;}    

        .first{ 
        padding: 20px;}

        a{text-decoration: none;
        background-color: gray;
        padding: 5px;
        color: aliceblue;}

            a.sec :hover{
                background-color: rgb(13, 13, 233);
                color: aliceblue;
                border: 1px solid black;
            }
        .container{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
        }
        .iop{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        display: block;
        }
#x{color:white;}
        